#include <windows.h>
#include <ntverp.h>

# define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE              VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR      "lesser-joy switch controllers driver"
#define VER_INTERNALNAME_STR         "lesser-joy-driver.sys"
#define VER_ORIGINALFILENAME_STR     "lesser-joy-driver.sys"

#define VER_LEGALCOPYRIGHT_YEARS "2026"
#define VER_LEGALCOPYRIGHT_STR   "Copyright (C) Tapzcrew." VER_LEGALCOPYRIGHT_YEARS

#include "common.ver"
